         /* Style for the header */
         .header {
            /*background-image: url('header-image.jpg'); /* Add your header image URL here */
            background-color: black;
            background-size: cover;
            color: white;
            text-align: center;
            padding: 15px;
        }
        
		/* Style for the footer */
        footer {
            background-color: #00000000;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
		
        options {
            font-family: Arial, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
        }

        .block {
            width: clamp(0px,16.6666666667vw,320px);
            height: clamp(0px,34.475vw,580px);
            margin: 2px;
            display: inline-block;
            border: 1px solid #000;
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
            opacity: .5;
            #animation: bounce 2s infinite;
        }

        .blockos {
            width: 290px;
            height: 350px;
            margin: 15px;
            display: inline-block;
            border: 1px solid #000;
            cursor: pointer;
            box-sizing: border-box;
            position: relative;
            opacity: .5;
            #animation: bounce 2s infinite;
        }

        .block-container {
            flex-direction: row;
        }

		/* Style for the block letter */
        .blockletter {
            background-color: #00000000;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 40%;
            width: 100%;
        }
		
		.block1 {
			background-image: url(images/block1_before.webp);
		}

		.block2 {
			background-image: url(images/block2_before.webp);
		}

		.block3 {
			background-image: url(images/block3_before.webp);
		}

		.block4 {
			background-image: url(images/block4_before.webp);
		}
		.block5 {
			background-image: url(images/block5_before.webp);
		}
		 /* Style for the block */
		 .appear-block {
            opacity: 0; /* Initially hidden */
            animation: appear 2s ease-in-out forwards; /* Animation properties */
        }
		
        /* Keyframes animation for appearing */
        @keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1; /* Fully visible */
            }
        }
        
        /* Change the background color on hover */
        .block1:hover {
            background-image: url('./images/block1_after.webp'); /* Change to a different image on hover */
        }
		.block2:hover {
			background-image: url('./images/block2_after.webp'); /* Change to a different image on hover */
        }
		.block3:hover {
            background-image: url('./images/block3_after.webp'); /* Change to a different image on hover */
        }
		.block4:hover {
            background-image: url('./images/block4_after.webp'); /* Change to a different image on hover */
        }
		.block5:hover {
            background-image: url('./images/block5_after.webp'); /* Change to a different image on hover */
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-30px);
            }
            60% {
                transform: translateY(-15px);
            }
        }

        @media screen and (max-width: 900px) {
            .block-container {
                flex-direction: column; /* Change to a column layout */
            }
        
            .block {
                width: 95vw;
                height: 130px;
                margin: 5px;
                display: inline-block;
                border: 1px solid #000;
                cursor: pointer;
                box-sizing: border-box;
                position: relative;
                opacity: .5;
                #animation: bounce 2s infinite;
            }
            
            .blockletter {
                bottom: 20%;
            }
            
            /* Style for the footer */
            footer {
                background-color: #00000000;
                color: rgb(255, 255, 255)
                text-align: center;
                padding: 20px 0;
                position: fixed;
                bottom: 0;
                width: 100%;
                opacity: 1;
            }
        }

        @media screen and (max-width: 307px) {
            .block-container {
                flex-direction: column; /* Change to a column layout */
                
            }
        
            .block {
                width: 10px;
                height: 10px;
                margin: 2px;
                display: inline-block;
                border: 1px solid #000;
                cursor: pointer;
                box-sizing: border-box;
                position: relative;
                opacity: .5;
                #animation: bounce 2s infinite;
            }
        }